.cities{
  width: 100%;
  max-width: 1182px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.city-item{
  position: relative;
  width: 350px;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  flex:1
}

.city-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-titles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}