.loading {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #8D28AD;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 5s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    align-items: center;
    justify-content: space-around;
  }

  .radio-label {
    margin: 10px;
  }
